[submodule "_vim/bundle/snipmate"]
	path = _vim/bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "_vim/bundle/vim-autocomplpop"]
	path = _vim/bundle/vim-autocomplpop
	url = https://github.com/clones/vim-autocomplpop.git
[submodule "_vim/bundle/vim-l9"]
	path = _vim/bundle/vim-l9
	url = https://github.com/clones/vim-l9.git
