[submodule "_vim/bundle/snipmate"]
	path = _vim/bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
  ignore = untracked
[submodule "_vim/bundle/vim-autocomplpop"]
	path = _vim/bundle/vim-autocomplpop
	url = https://github.com/clones/vim-autocomplpop.git
  ignore = untracked
[submodule "_vim/bundle/vim-l9"]
	path = _vim/bundle/vim-l9
	url = https://github.com/clones/vim-l9.git
  ignore = untracked
[submodule "_vim/bundle/checksyntax"]
	path = _vim/bundle/checksyntax
	url = https://github.com/tomtom/checksyntax_vim.git
  ignore = untracked
[submodule "_vim/bundle/ctrlp"]
	path = _vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
  ignore = untracked
[submodule "_vim/bundle/zencoding-vim"]
	path = _vim/bundle/zencoding-vim
	url = https://github.com/mattn/zencoding-vim.git
[submodule "_vim/bundle/ctrlp.vim"]
	path = _vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "_vim/bundle/YouCompleteMe"]
	path = _vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "_vim/bundle/ultisnips"]
	path = _vim/bundle/ultisnips
	url = git://github.com/SirVer/ultisnips.git
[submodule "_vim/bundle/vim-pandoc"]
	path = _vim/bundle/vim-pandoc
	url = https://github.com/vim-pandoc/vim-pandoc.git
[submodule "_vim/bundle/rename"]
	path = _vim/bundle/rename
	url = https://github.com/danro/rename.vim.git
